// Navigation Styles here
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    margin-left: 8rem;
    
}

.logo {
    width: 20%;
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    line-height: 1.5;
    font-size: 1.6rem;
    padding: 2rem;
    margin-right: 35rem;
}